<section class="pb-4 md:pb-8">
  <div class="flex justify-between items-center flex-wrap gap-8">
    <div
      class="w-full md:flex-1 space-y-4 text-center md:text-left flex flex-col justify-center items-center md:items-start"
    >
      <div
        class="bg-tertiary text-tertiary-100 max-w-max py-1 px-4 flex items-center gap-2 rounded-full"
      >
        <div class="w-2 h-2 bg-tertiary-100 rounded-full animate-pulse"></div>
        <p class="uppercase text-[10px] font-semibold">Versão 1.0</p>
      </div>

      <h1
        class="md:max-w-140 text-3xl sm:text-4xl md:text-5xl font-bold text-foreground leading-none tracking-tight"
      >
        Simplicidade em cada interação.
      </h1>

      <p class="md:max-w-120 text-base text-muted-foreground leading-[1.2]">
        Bem-vindo ao Sistema de Design Veeti. Uma coleção centralizada de componentes de interface
        do usuário, padrões e diretrizes, criada para otimizar os fluxos de trabalho em cuidados
        veterinários. Consistente, acessível e rápido.
      </p>

      <div class="flex flex-wrap gap-4 pt-2">
        <app-button>
          <span class="material-symbols-outlined" style="font-size: 16px"> code </span>
          <span>Biblioteca de componentes</span>
        </app-button>
      </div>
    </div>

    <div class="flex-1 flex items-center justify-center">
      <div
        class="bg-neutral-100 dark:bg-neutral-800 rounded-2xl w-full max-w-96 md:max-w-120 h-40 sm:h-60 md:h-80 flex items-center justify-center"
      >
        <span class="material-symbols-outlined text-4xl"> image </span>
      </div>
    </div>
  </div>
</section>

<div class="block w-full h-[0.5px] my-4 bg-border rounded-full"></div>

<section class="py-8">
  <h2 class="text-2xl md:text-3xl font-semibold text-foreground tracking-tight">
    Fundações principais
  </h2>
  <p class="text-muted-foreground text-base">Os elementos básicos da nossa linguagem visual.</p>

  <div class="grid xs:grid-cols-2 grid-cols-1 md:grid-cols-4 gap-4 mt-8">
    <a
      routerLink="/design-system/cores"
      class="flex-1 p-4 bg-card-background border border-border rounded-lg"
    >
      <div
        class="w-full aspect-4/3 rounded-lg bg-background flex flex-col p-4 gap-2 relative overflow-hidden"
      >
        <div class="flex-1 flex gap-2">
          <div class="flex-1 bg-yellow-400 rounded-md shadow-sm"></div>
          <div class="flex-1 bg-green-400 rounded-md shadow-sm opacity-90"></div>
          <div class="flex-1 bg-violet-400 rounded-md shadow-sm opacity-90"></div>
        </div>
        <div class="h-1/3 w-full bg-neutral-100 dark:bg-neutral-800 rounded-md"></div>
      </div>

      <h5 class="text-foreground font-bold mt-4 lg:text-lg">Paleta de cores</h5>
      <p class="text-muted-foreground mt-2">
        Identidade da marca, estados semânticos e taxas de contraste acessíveis.
      </p>
    </a>

    <a
      routerLink="/design-system/tipografia"
      class="flex-1 p-4 bg-card-background border border-border rounded-lg"
    >
      <div
        class="w-full aspect-4/3 rounded-lg bg-background flex items-center justify-center relative overflow-hidden"
      >
        <span
          class="text-8xl font-black text-foreground dark:text-white opacity-10 absolute -bottom-4 -right-4"
        >
          Aa
        </span>
        <div class="flex flex-col items-center">
          <span class="text-5xl font-bold text-foreground">Aa</span>
          <span class="text-sm font-medium text-foreground mt-1">Inter Display</span>
        </div>
      </div>

      <h5 class="text-foreground font-bold mt-4 lg:text-lg">Tipografia</h5>
      <p class="text-muted-foreground mt-2">
        Escalas tipográficas, pesos e alturas de linha para otimizar a legibilidade.
      </p>
    </a>

    <a
      routerLink="/design-system/icones"
      class="flex-1 p-4 bg-card-background border border-border rounded-lg"
    >
      <div
        class="w-full aspect-4/3 rounded-lg bg-background p-4 grid grid-cols-3 grid-rows-3 gap-2 place-items-center text-muted-foreground"
      >
        <span class="material-symbols-outlined text-primary-500">pets</span>
        <span class="material-symbols-outlined text-primary">medical_services</span>
        <span class="material-symbols-outlined">vaccines</span>
        <span class="material-symbols-outlined">calendar_month</span>
        <span class="material-symbols-outlined">folder_shared</span>
        <span class="material-symbols-outlined">attach_money</span>
        <span class="material-symbols-outlined">lab_profile</span>
        <span class="material-symbols-outlined">monitor_heart</span>
        <span class="material-symbols-outlined">healing</span>
      </div>

      <h5 class="text-foreground font-bold mt-4 lg:text-lg">Iconografia</h5>
      <p class="text-muted-foreground mt-2">
        Biblioteca Material Symbols personalizada para o contexto veterinário..
      </p>
    </a>

    <a
      routerLink="/design-system/componentes"
      class="flex-1 p-4 bg-card-background border border-border rounded-lg"
    >
      <div
        class="w-full aspect-4/3 rounded-lg bg-background flex items-center justify-center gap-3 p-4"
      >
        <app-button>
          <span class="material-symbols-outlined" style="font-size: 16px">check</span>
          Primary Button
        </app-button>
        <app-button>
          <span class="material-symbols-outlined" style="font-size: 16px">check</span>
        </app-button>
      </div>

      <h5 class="text-foreground font-bold mt-4 lg:text-lg">UI Componentes</h5>
      <p class="text-muted-foreground mt-2">
        Componentes Angular pré-construídos para um desenvolvimento mais rápido.
      </p>
    </a>
  </div>
</section>
