<section class="mb-12">
  <span class="text-secondary text-sm font-bold uppercase tracking-widest">
    Design System > Componentes
  </span>
  <div class="space-y-6 mt-2">
    <h1 class="text-3xl sm:text-4xl md:text-5xl font-bold text-foreground">
      {{ config().title }}
    </h1>
    <p class="text-base text-muted-foreground leading-[1.2]">
      {{ config().description }}
    </p>
  </div>
</section>

<section>
  <div class="border-b border-gray-200">
    <ul
      class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400"
    >
      @for (tab of tabs(); track $index) {
        <li>
          <button
            (click)="onClickTab(tab)"
            class="inline-flex items-center justify-center p-4 border-b-2 rounded-t-lg group transition-all"
            [class.text-primary-600.border-primary-600.dark:text-primary-500.dark:border-primary-500]="
              tab.active
            "
            [class.border-transparent.hover:text-gray-600.hover:border-gray-300.dark:hover:text-gray-300]="
              !tab.active
            "
          >
            {{ tab.name }}
          </button>
        </li>
      }
    </ul>
  </div>
</section>

<div class="py-4 mt-8">
  @switch (currentTab().name) {
    @case ("Visão Geral") {
      <app-playground [codeSnippet]="codeSnippet()">
        <ng-content preview>
          <div class="grid w-full max-w-sm items-center gap-1.5">
            <v-label [htmlFor]="htmlFor()" [variant]="variant()">
              {{ labelText() }}
            </v-label>
            <input type="email" [id]="htmlFor()" vInput placeholder="Email" />
          </div>
        </ng-content>

        <ng-container controls>
          <div>
            <v-label htmlFor="labelText">Texto do Label</v-label>
            <input
              vInput
              size="sm"
              type="text"
              id="labelText"
              [ngModel]="labelText()"
              (ngModelChange)="labelText.set($event)"
            />
          </div>

          <div class="mt-4">
            <v-label htmlFor="htmlFor">Html For (ID)</v-label>
            <input
              vInput
              size="sm"
              type="text"
              id="htmlFor"
              [ngModel]="htmlFor()"
              (ngModelChange)="htmlFor.set($event)"
            />
          </div>

          <div class="mt-4">
            <v-label htmlFor="variant">Variante</v-label>
            <select
              vInput
              size="sm"
              id="variant"
              [ngModel]="variant()"
              (ngModelChange)="variant.set($event)"
            >
              <option value="default">Padrão</option>
              <option value="error">Erro</option>
            </select>
          </div>
        </ng-container>
      </app-playground>

      <section class="mt-12 space-y-8 text-foreground">
        <h2 class="text-2xl font-bold tracking-tight">Exemplos</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <div class="rounded-lg border border-border bg-card-background text-card-foreground p-6">
            <h3 class="font-semibold leading-none tracking-tight mb-4">Com Checkbox</h3>
            <div class="flex items-center space-x-2">
              <v-checkbox id="terms"></v-checkbox>
              <v-label htmlFor="terms">Aceitar termos e condições</v-label>
            </div>
          </div>
        </div>
      </section>
    }
    @case ("API") {
      <div class="max-w-none flex flex-col gap-5">
        <div>
          <h2 id="properties" class="text-lg font-semibold text-foreground">
            Propriedades (Inputs)
          </h2>

          <div
            class="mt-5 overflow-x-auto rounded-xl border border-border dark:border-gray-800 bg-surface-light dark:bg-surface-dark"
          >
            <table class="w-full text-left border-collapse">
              <thead>
                <tr
                  class="border-b border-border text-xs uppercase text-foreground bg-neutral-100 dark:bg-neutral-700"
                >
                  <th class="p-4 text-left font-bold">Propriedade</th>
                  <th class="p-4 text-left font-bold">Tipo</th>
                  <th class="p-4 text-left font-bold">Padrão</th>
                  <th class="p-4 text-left font-bold">Descrição</th>
                </tr>
              </thead>
              <tbody class="text-sm bg-card-background">
                @for (item of config().documentation?.tableInputs; track $index) {
                  <tr class="border-b border-border">
                    <td class="p-4 font-medium text-foreground">
                      <span
                        class="bg-tertiary-800 text-tertiary-300 border-border py-0.5 px-2 rounded-md text-sm"
                        ><code>{{ item.props }}</code></span
                      >
                    </td>
                    <td class="p-4 font-medium text-foreground">
                      <span
                        class="bg-muted text-neutral-400 border-border py-0.5 px-2 rounded-md text-sm"
                        ><code>{{ item.types }}</code></span
                      >
                    </td>
                    <td class="p-4 font-medium text-foreground">
                      <span
                        class="bg-muted text-neutral-400 border-border py-0.5 px-2 rounded-md text-sm"
                        ><code>{{ item.default }}</code></span
                      >
                    </td>
                    <td class="p-4 font-medium text-foreground">{{ item.description }}</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    }
  }
</div>
