<header
  class="w-full bg-card-background border-b border-b-border p-4 sticky top-0 z-30 flex items-center justify-between"
>
  <div class="w-full max-w-screen-2xl mx-auto px-4 flex items-center justify-between">
    <div class="flex justify-end lg:justify-between items-center w-full">
      <div class="w-full max-w-90 hidden lg:inline">
        <v-input-group startIcon="search" class="max-w-sm">
          <input vInput size="sm" placeholder="Pesquisar..." />
        </v-input-group>
      </div>

      <div class="flex items-center gap-2">
        <app-button [variant]="'icon'" (onClick)="onNotification()">
          <v-icon name="notifications" size="lg"></v-icon>
        </app-button>

        <app-button [variant]="'icon'" (onClick)="onToggleTheme()">
          <v-icon name="brightness_7" size="sm"></v-icon>
        </app-button>
      </div>
    </div>
  </div>
</header>
