<section class="mb-12">
  <span class="text-secondary text-sm font-bold uppercase tracking-widest">
    Design System > Componentes
  </span>
  <div class="space-y-6 mt-2">
    <h1 class="text-3xl sm:text-4xl md:text-5xl font-bold text-foreground">
      {{ config().title }}
    </h1>
    <p class="text-base text-muted-foreground leading-[1.2]">
      {{ config().description }}
    </p>
  </div>
</section>

<section>
  <div class="border-b border-gray-200">
    <ul
      class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400"
    >
      @for (tab of tabs(); track $index) {
        <li>
          <button
            (click)="onClickTab(tab)"
            class="inline-flex items-center justify-center p-4 border-b-2 rounded-t-lg group transition-all"
            [class.text-primary-600.border-primary-600.dark:text-primary-500.dark:border-primary-500]="
              tab.active
            "
            [class.border-transparent.hover:text-gray-600.hover:border-gray-300.dark:hover:text-gray-300]="
              !tab.active
            "
          >
            {{ tab.name }}
          </button>
        </li>
      }
    </ul>
  </div>
</section>

<div class="py-4 mt-8">
  @switch (currentTab().name) {
    @case ("Visão Geral") {
      <app-playground [codeSnippet]="codeSnippet()">
        <ng-content preview>
          <div class="h-40 w-full flex items-center justify-center p-4">
            @if (direction() === "horizontal") {
              <div class="w-full space-y-4">
                <div class="text-foreground">Conteúdo acima</div>
                <v-divider [direction]="direction()"></v-divider>
                <div class="text-foreground">Conteúdo abaixo</div>
              </div>
            } @else {
              <div class="flex h-20 items-center space-x-4 text-sm text-foreground">
                <div>Blog</div>
                <v-divider [direction]="direction()"></v-divider>
                <div>Docs</div>
                <v-divider [direction]="direction()"></v-divider>
                <div>Source</div>
              </div>
            }
          </div>
        </ng-content>

        <ng-container controls>
          <div class="flex flex-col gap-4">
            <label for="direction" class="text-sm font-medium text-foreground">Direção</label>
            <select
              id="direction"
              [ngModel]="direction()"
              (ngModelChange)="direction.set($event)"
              class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 text-foreground"
            >
              <option value="horizontal" class="text-foreground bg-card-background">
                Horizontal
              </option>
              <option value="vertical" class="text-foreground bg-card-background">Vertical</option>
            </select>
          </div>
        </ng-container>
      </app-playground>
    }
    @case ("API") {
      <div class="max-w-none flex flex-col gap-5">
        <div>
          <h2 id="properties" class="text-lg font-semibold text-foreground">
            Propriedades (Inputs)
          </h2>

          <div class="mt-5">
            <v-table
              [data]="config().documentation?.tableInputs!"
              [columns]="columnsDocInputs"
            ></v-table>
          </div>
        </div>
      </div>
    }
  }
</div>
