<section class="mb-16">
  <h2 class="text-2xl font-bold mb-6 flex items-center gap-2 text-foreground">
    <span class="material-symbols-outlined text-primary">play_circle</span>
    Playground
  </h2>
  <div class="border border-border rounded-xl overflow-hidden bg-card-background shadow-sm">
    <div class="flex flex-col md:flex-row gap-2 w-full">
      <div class="flex-1 border-r border-border min-w-0">
        <div class="flex items-center justify-between px-4 py-3 flex-1 border-b border-border">
          <div class="text-muted-foreground text-xs">
            <button
              (click)="setActiveTab('preview')"
              class="px-2 py-1 hover:text-primary"
              [class.text-primary]="activeTab() === 'preview'"
            >
              Preview
            </button>
            <button
              (click)="setActiveTab('code')"
              class="px-2 py-1 hover:text-primary"
              [class.text-primary]="activeTab() === 'code'"
            >
              Code
            </button>
          </div>
          <div class="flex gap-2">
            <div class="size-2 rounded-full bg-red-400"></div>
            <div class="size-2 rounded-full bg-yellow-400"></div>
            <div class="size-2 rounded-full bg-green-400"></div>
          </div>
        </div>

        <div class="h-[calc(100%-48px)]">
          <!-- Canvas / Preview Area -->
          @if (activeTab() === "preview") {
            <div
              class="relative h-full min-h-50 w-full flex items-center justify-center p-8 bg-[url('https://www.transparenttextures.com/patterns/cubes.png')] bg-opacity-50"
            >
              <!-- Simulated Application UI Background -->
              <div
                class="absolute inset-0 opacity-5 pointer-events-none"
                style="
                  background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
                  background-size: 20px 20px;
                "
              ></div>
              <!-- Component (Demo) -->
              <ng-content select="[preview]"></ng-content>
            </div>
          }
          <!-- Code Area -->
          @if (activeTab() === "code") {
            <div
              class="relative h-full min-h-50 w-full flex items-center justify-center p-8 bg-neutral-100 dark:bg-neutral-950"
            >
              <code class="text-sm text-muted-foreground">
                {{ codeSnippet() }}
              </code>
            </div>
          }
        </div>
      </div>

      <div class="min-w-70">
        <div class="bg-card-background px-4 md:py-6 py-4">
          <ng-content select="[controls]"></ng-content>
        </div>
      </div>
    </div>
  </div>
</section>
