<div
  class="bg-card-background w-full h-screen flex flex-col overflow-hidden scrollbar-veeti min-h-screen"
>
  @if (isSidebarOpen()) {
    <div
      (click)="closeSidebar()"
      (keydown.enter)="closeSidebar()"
      (keydown.escape)="closeSidebar()"
      tabindex="0"
      class="fixed inset-0 bg-background/50 z-40 lg:hidden backdrop-blur-sm transition-opacity"
    ></div>
  }

  <div class="flex h-full max-w-screen-2xl mx-auto w-full">
    <aside
      class="fixed inset-y-0 left-0 z-50 w-65 shrink-0 bg-card-background border-r border-border transform transition-transform duration-300 ease-in-out lg:translate-x-0 lg:static lg:h-full lg:flex lg:flex-col overflow-y-auto pb-4 px-2"
      [class.translate-x-0]="isSidebarOpen()"
      [class.-translate-x-full]="!isSidebarOpen()"
    >
      <div class="flex items-center gap-3 py-4">
        <div class="py-2 px-2 rounded-lg bg-primary flex items-center justify-center text-white">
          <v-icon name="pets" size="lg"></v-icon>
        </div>
        <div class="flex flex-col">
          <h1 class="text-foreground text-lg font-bold leading-none tracking-tight">Veeti</h1>
          <span class="text-xs text-muted-foreground mt-1">Design System v1.2</span>
        </div>
      </div>

      <nav class="flex flex-col gap-2 text-foreground mt-8">
        <div class="">
          <p class="py-4 px-3 text-xs text-foreground font-bold uppercase tracking-wider">
            Começando
          </p>

          <ul>
            <li>
              <a
                routerLink="/design-system"
                class="flex justify-start items-center gap-1 rounded-lg px-3 py-2 hover:bg-muted hover:text-muted-foreground text-sm font-medium"
              >
                Visão Geral
              </a>
            </li>
          </ul>
        </div>

        <div class="mt-3">
          <p class="py-4 px-3 text-xs text-foreground font-bold uppercase tracking-wider">
            Fundamentos
          </p>

          <ul>
            @for (item of menu.fundamentos; track $index) {
              <li>
                <a
                  [routerLink]="item.path"
                  class="flex justify-start items-center gap-1 rounded-lg px-3 py-2 hover:bg-muted hover:text-muted-foreground text-sm font-medium"
                >
                  {{ item.label }}
                </a>
              </li>
            }
          </ul>
        </div>

        @if (menu.componentes) {
          <div class="mt-3">
            <p class="py-4 px-3 text-xs text-foreground font-bold uppercase tracking-wider">
              Componentes
            </p>

            <ul>
              @for (item of menu.componentes; track $index) {
                <li>
                  <a
                    [routerLink]="item.path"
                    class="flex justify-start items-center gap-1 rounded-lg px-3 py-2 hover:bg-muted hover:text-muted-foreground text-sm font-medium"
                  >
                    {{ item.label }}
                  </a>
                </li>
              }
            </ul>
          </div>
        }
      </nav>
    </aside>

    <div class="flex-1 min-w-0 flex flex-col h-full">
      <header
        class="w-full bg-card-background border-b border-b-border p-4 sticky top-0 z-30 flex items-center justify-between"
      >
        <div class="w-full max-w-screen-2xl mx-auto px-4 flex items-center justify-between">
          <div class="flex items-center justify-between w-full lg:hidden">
            <app-button variant="icon" (onClick)="toggleSidebar()">
              <v-icon name="menu"></v-icon>
            </app-button>
          </div>

          <div class="flex justify-end lg:justify-between items-center w-full">
            <div class="w-full max-w-90 hidden lg:inline">
              <input vInput size="sm" placeholder="Pesquisar..." type="text" />
            </div>

            <app-button [variant]="'icon'" (onClick)="toggleTheme()">
              <v-icon name="brightness_7" size="sm"></v-icon>
            </app-button>
          </div>
        </div>
      </header>

      <main class="flex-1 overflow-y-auto bg-background p-4 lg:p-8">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>
